/*/
/*    Table of Contents*/
/*    1. Global Styles*/
/*    2. Typography*/
/*    3. Layout*/
/*        3.1 Reusables*/
/*        3.2 Other*/
/*    4. Areas*/
/*        4.1 Header*/
/*        4.2 Introduction*/
/*        4.3 Projects
          4.4 Services
/*    5. Media Queries */
/*///////////////////////!*/

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

.purple-squiggle {
    width: 50px;
    padding: 35px 0 35px 0;
}


/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-family: 'Merriweather', serif;
    font-size: 45px;
    font-weight: 400;
}

h2 {
    font-family: "Merriweather", serif;
    font-size: 25px;
    font-weight: 600;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    /*padding: 0 0 100px 0;*/
    border: 2px dashed orange;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.header-section {
    background: rgb(75, 73, 232);
    background: linear-gradient(135deg, rgba(75, 73, 232, 1) 43%, rgba(87, 34, 205, 1) 95%);
    color: white;

}

.header-content-text {
    text-align: center;
    line-height: 65px;
    padding: 90px 50px;
}

.header-content-text p {
    font-size: 20px;
    font-weight: 300;
}


.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.header-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    align-items: center;

}

.header-content-text button {
    background-color: #ED4385;
    color: white;
    border: none;
    padding: 17px 39px;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    border-radius: 40px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);

}

.header-content-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 0 0 0;
}

.header-image {
    width: 70px;
}

/* --------------- 4.2 Introduction ------------------- */

.hello-intro {
    text-align: center;
    line-height: 50px;
    padding: 90px 50px;
    color: #5722CD;
    background-color: white;
}


.question-line {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px 20px 0 20px;
    color: black;
    font-weight: 600;
}

/* --------------------- 4.3 Projects -----------------------*/
.work-section {
    background-color: #F3F6F9;
    display: flex;
    flex-direction: column;
    padding: 41px 41px;
}


.rolling-stone-article {
    display: flex;
    flex-direction: row;
    flex-basis: 450px;
    justify-content: space-between;
}

.rolling-stone-title {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    padding: 90px 90px 90px 50px;
    font-weight: 600;
    font-size: 16px;
}

.rolling-stone-wrapper {
    flex-basis: 700px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 50px 40px;
}

.rolling-stone-image {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}


.variety-article {
    display: flex;
    flex-basis: 450px;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.variety-title {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    padding: 90px 50px 90px 90px;
    font-weight: 600;
    font-size: 16px;
}

.variety-wrapper {
    flex-basis: 700px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 50px 40px;
}

.variety-image {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}


.worth-article {
    display: flex;
    flex-basis: 450px;
    justify-content: space-between;
    flex-direction: row;
}

.worth-title {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    padding: 90px 90px 90px 50px;
    font-weight: 600;
    font-size: 16px;
}

.worth-wrapper {
    flex-basis: 700px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 50px 40px;
}

.worth-image {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}


/*--------------------- 4.4 Services -----------------*/
.tiles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    border: 2px dashed blue;
    padding: 50px 50px;
}


.web-design-tile {
    border: 2px solid #5722CD;
    display: flex;
    flex-direction: column;
    flex-basis: 332px;
    padding: 32px;
    align-items: flex-start;
    font-size: 14px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}

.web-design-tile h2{
    padding: 10px 0 10px 0;
    color: #5722CD;
    font-size: 22px;
}

.web-design-tile p{
    color: #7A7A7A;
}

.icon-web-design{
    width: 60px;
}



.web-dev-tile {
    border: 2px solid #5722CD;
    display: flex;
    flex-direction: column;
    flex-basis: 332px;
    padding: 32px;
    align-items: flex-start;
    font-size: 14px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}

.web-dev-tile h2{
    padding: 10px 0 10px 0;
    color: #5722CD;
    font-size: 22px;
}

.web-dev-tile p{
    color: #7A7A7A;
}

.icon-web-dev{
    width: 60px;
}




.user-ex-tile {
    border: 2px solid #5722CD;
    display: flex;
    flex-direction: column;
    flex-basis: 332px;
    padding: 31px;
    align-items: flex-start;
    font-size: 14px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}

.user-ex-tile h2{
    padding: 10px 0 10px 0;
    color: #5722CD;
    font-size: 22px;
}

.user-ex-tile p{
    color: #7A7A7A;
}

.icon-ux {
    width: 60px;
}





.logo-design-tile {
    border: 2px solid #5722CD;
    display: flex;
    flex-direction: column;
    flex-basis: 332px;
    padding: 29px;
    align-items: flex-start;
    font-size: 14px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}

.logo-design-tile h2{
    padding: 10px 0 10px 0;
    color: #5722CD;
    font-size: 22px;
}

.logo-design-tile p{
    color: #7A7A7A;
}

.icon-logo-design {
    width: 60px;
}




.seo-tile {
    border: 2px solid #5722CD;
    display: flex;
    flex-direction: column;
    flex-basis: 332px;
    padding: 31px;
    align-items: flex-start;
    font-size: 14px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)
}

.seo-tile h2{
    padding: 10px 0 10px 0;
    color: #5722CD;
    font-size: 22px;
}

.seo-tile p{
    color: #7A7A7A;
}

.icon-seo {
    width: 60px;
}



.copy-tile {
    border: 2px solid #5722CD;
    display: flex;
    flex-direction: column;
    flex-basis: 332px;
    padding: 38px;
    align-items: flex-start;
    font-size: 14px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15)

}

.copy-tile h2{
    padding: 10px 0 10px 0;
    color: #5722CD;
    font-size: 22px;
}

.copy-tile p{
    color: #7A7A7A;
}

.icon-copy-writing {
    width: 60px;
}



/* ------------------------------- 5. Media Queries -------------------------------- */